header{
    padding: 15px 0;
    background-color: royalblue;
}
.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-link{
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.about-link{
    font-size: 20px;
    color: white;
}